{% extends "base.html" %}

{% block content %}
<section class="home">

	<div class="home_1">

		<div class="home_1_title">
			<h3>Создание публикации</h3>
		</div>

		<div class="home_1_list home_1_list_inp">

			<div class="home_1_list_input">
				<div class="form-group">
					<input type="text" id="new_admin_email" placeholder=" " required>
					<label for="apple-id">Название</label>
				</div>
			</div>
		</div>

		<div class="home_1_list home_1_list_inp">

			<div class="home_1_list_input">
				<div class="form-group">
					<input type="text" id="new_admin_email" placeholder=" " required>
					<label for="apple-id">Описание</label>
				</div>
			</div>

		</div>

		<div class="home_1_list home_1_list_inp">

			<div class="home_1_list_input">
				<div class="form-group">
					<input type="text" id="new_admin_email" placeholder=" " required>
					<label for="apple-id">Обложка</label>
				</div>
			</div>

		</div>

		<div class="home_1_list home_1_list_inp">

			<div class="home_1_list_input_button_r">
				<div class="home_1_list_item_button_admin_rdr">
					<button>Сохранить</button>
				</div>
			</div>

		</div>

	</div>

</section>
{% endblock %}